---
---
body {
	background: #EAEAEA;
	color: #292929;
	text-shadow: none;
}
::-moz-selection {
	background: #CCCCCC;
}
::selection {
	background: #CCCCCC;
}
th {
	background: rgba(0,0,0,.2);
}
td {
	background: rgba(0,0,0,.1);
}
a {
	color: #858585;
}
a:hover,a:focus {
	color: #575757;
}
#navigation a:hover, #navigation a:focus, #footer a:hover, #footer a:focus, #footer-links label:hover, #footer-links label:focus, #active {
	background: #C6C6C6;
}
#navigation {
	background: #D2D2D2;
}
#logo a, #navigation-links a, #footer a {
	color: #4A4A4A;
}
