---
---
@page {
	margin: 2.75cm;
	@bottom-right {
		content: counter(page) "/" counter(pages);
	}
}
body {
	-webkit-print-color-adjust: exact;
	color: #000;
}

a:after{
	content: " (" attr(href) ")";
	font-size: 80%;
}

#navigation, #footer {
	display: none;
}
#main-body {
	padding: 0;
}
