---
---
@page {
	margin: 2.75cm;
	@bottom-right {
		content: counter(page) "/" counter(pages);
	}
}
body {
	color: #000;
	text-shadow: none;
}
a:after{
	content: " (" attr(href) ")";
	font-size: 80%;
}
#navigation, #footer {
	display: none;
}
#main-body {
	padding: 0;
}
