/*#navigation {
	background: #f1eaee;
}
#navigation a {
	color: #614051;
}
#navigation a:hover, #navigation a:focus {
	color: #84576f;
}*/
#navigation, #footer {
	background: #eaf1f1;
}
#navigation a, #footer a {
	color: #406161;
}
#navigation a:hover, #navigation a:focus, #footer a:hover, #footer a:focus {
	color: #578484;
}
