#navigation, #footer {
	background: #eaf1f1;
}
#navigation a, #footer a, #footer-links label {
	color: #406161;
}
#navigation a:hover, #navigation a:focus, #footer a:hover, #footer a:focus, #footer-links label:hover, #footer-links label:focus {
	color: #578484;
}
