#navigation {
	background: #f1eaee;
}
#navigation a {
	color: #614051;
}
#navigation a:hover, #navigation a:focus {
	color: #84576f;
}
#footer {
	background: #eaf1f1;
}
#footer a {
	color: #406161;
}
#footer a:hover, #footer a:focus {
	color: #578484;
}
