#navigation {
	background: #614051;
}
#navigation a {
	color: #f1eaee;
}
#navigation a:hover,#navigation a:focus,.active {
	background: #553847;
	color: #f1eaed;
}
#footer {
	background: #406161;
}
#footer a {
	color: #eaf1f1;
}
#footer a:hover, #footer a:focus, #footer-links label:hover, #footer-links label:focus {
	background: #385555;
	color: #eaf1f1;
}
