#navigation {
	background: #893f45;
}
#navigation a {
	color: #eed9db
}
#navigation a:hover,#navigation a:focus,.active {
	background: #3f6a89;
	color: #e7eef4
}
#footer {
	background: #3f6a89;
}
#footer a {
	color: #e7eef4;
}
#footer a:hover, #footer a:focus, #footer-links label:hover, #footer-links label:focus {
	background: #123852;
	color: #E6C8CA;
}
