body {
	background: #2E7158;
	background: linear-gradient(220deg, #245d33, #24575D) fixed;
	text-shadow: 0 0.063em 0.063em rgba(0, 0, 0, .15);
}
body, h2 {
	color: #f7fcfa;
}
#navigation, #footer {
	background: none;
	box-shadow: none;
}
.downloadbutton {
	text-shadow: none;
}
/* Tablet/Mobile Design */

@media (max-width: 60em) {
	#navigation,
	#footer {
		background: #2E7158;
	}
	#navigation {
		background: linear-gradient(200deg, #245d33, #24575D);
		box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, .15);
	}
	#footer {
		background: linear-gradient(220deg, #245d33, #24575D);
		box-shadow: 0 -0.125em 0.125em rgba(0, 0, 0, .15);
	}
}
